/* Common Styles */
html, body {
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden !important;
    margin: 0px !important;
    padding: 0px !important;
}

* {
    text-decoration: none !important;
}

.nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    background-color: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav .links a {
    margin-right: 25px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.nav .links .mainlink {
    color: #e0501b;
}

.nav h4 {
    font-size: 22px;
    font-weight: bold;
    margin-left: 25px;
}

/* Syllabus Section Styles */
.syllabusSection {
    min-height: 100vh; /* Ensure the section takes at least the full viewport height */
    padding: 80px 0; /* Adjust the padding to account for the fixed navigation bar */
}

.syllabusHeader {
    text-align: center;
    margin-bottom: 40px;
}

.syllabusCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 0;
}

.subject-card {
    position: relative;
    height: 300px;
    width: 350px;
    background: #fff;
    margin: 20px;
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09), 0 10px 10px rgba(0, 0, 0, 0.09);
}

.subject-card .subjectImg {
    width: 180px;
    position: absolute;
    top: -50px;
    right: -50px;
}

.subjectCardContent {
    padding: 0 20px;
}

.subjectCardContent h2 {
    font-weight: 600;
}

.subjectCardContent p {
    line-height: 30px;
    opacity: 0.6;
}

.subject-card .cardBtn {
    position: absolute;
    right: 20px;
    padding: 10px;
    background-color: #ededed;
    width: 25px;
    height: 20px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.2s;
}

.subject-card .cardBtn:hover {
    background-color: #2f8be0;
}

.subject-card .cardBtn .cardIcon {
    position: relative;
    top: 0px;
    left: 0px;
    width: 16px;
}

/* Popup Styles */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1001;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Footer Styles */
.footer {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.footerlinks a {
    margin: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.footerlinks .mainlink {
    color: #e0501b;
}
